<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sy.server.mapper.SyIntegralMapper">
  <resultMap id="BaseResultMap" type="com.sy.common.busibean.SyIntegral">
    <id column="T_SY_INTEGRAL_ID" jdbcType="INTEGER" property="tSyIntegralId" />
    <result column="T_SY_USER_ID" jdbcType="VARCHAR" property="tSyUserId" />
    <result column="T_SY_INTEGARAL_TYPE" jdbcType="VARCHAR" property="tSyIntegaralType" />
    <result column="T_SY_INTEGARAL_NUMBER" jdbcType="INTEGER" property="tSyIntegaralNumber" />
    <result column="T_SY_CREATEDATE" jdbcType="DATE" property="tSyCreatedate" />
    <result column="T_SY_BZ1" jdbcType="VARCHAR" property="tSyBz1" />
    <result column="T_SY_BZ2" jdbcType="VARCHAR" property="tSyBz2" />
  </resultMap>
  <select id="selectByItem" parameterType="com.sy.common.annotation.MapUtil" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SY_INTEGRAL  
    where T_SY_USER_ID = #{record.uid,jdbcType=VARCHAR} limit #{record.page,jdbcType=INTEGER},#{record.pageUp,jdbcType=INTEGER}
  </select>
  <select id="selectByDate" parameterType="com.sy.common.annotation.MapUtil" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_SY_INTEGRAL  
    where (T_SY_USER_ID = #{uid,jdbcType=VARCHAR})   ORDER BY T_SY_CREATEDATE DESC
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    T_SY_INTEGRAL_ID, T_SY_USER_ID, T_SY_INTEGARAL_TYPE, T_SY_INTEGARAL_NUMBER, T_SY_CREATEDATE, 
    T_SY_BZ1, T_SY_BZ2
  </sql>
  <select id="selectByExample" parameterType="com.sy.common.busibean.SyIntegralExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "t_sy_integral"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "t_sy_integral"
    where T_SY_INTEGRAL_ID = #{tSyIntegralId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from "t_sy_integral"
    where T_SY_INTEGRAL_ID = #{tSyIntegralId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sy.common.busibean.SyIntegralExample">
    delete from "t_sy_integral"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sy.common.busibean.SyIntegral">
    insert into "t_sy_integral" (T_SY_INTEGRAL_ID, T_SY_USER_ID, T_SY_INTEGARAL_TYPE, 
      T_SY_INTEGARAL_NUMBER, T_SY_CREATEDATE, T_SY_BZ1, 
      T_SY_BZ2)
    values (#{tSyIntegralId,jdbcType=INTEGER}, #{tSyUserId,jdbcType=VARCHAR}, #{tSyIntegaralType,jdbcType=VARCHAR}, 
      #{tSyIntegaralNumber,jdbcType=INTEGER}, #{tSyCreatedate,jdbcType=DATE}, #{tSyBz1,jdbcType=VARCHAR}, 
      #{tSyBz2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sy.common.busibean.SyIntegral">
    insert into "t_sy_integral"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tSyIntegralId != null">
        T_SY_INTEGRAL_ID,
      </if>
      <if test="tSyUserId != null">
        T_SY_USER_ID,
      </if>
      <if test="tSyIntegaralType != null">
        T_SY_INTEGARAL_TYPE,
      </if>
      <if test="tSyIntegaralNumber != null">
        T_SY_INTEGARAL_NUMBER,
      </if>
      <if test="tSyCreatedate != null">
        T_SY_CREATEDATE,
      </if>
      <if test="tSyBz1 != null">
        T_SY_BZ1,
      </if>
      <if test="tSyBz2 != null">
        T_SY_BZ2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tSyIntegralId != null">
        #{tSyIntegralId,jdbcType=INTEGER},
      </if>
      <if test="tSyUserId != null">
        #{tSyUserId,jdbcType=VARCHAR},
      </if>
      <if test="tSyIntegaralType != null">
        #{tSyIntegaralType,jdbcType=VARCHAR},
      </if>
      <if test="tSyIntegaralNumber != null">
        #{tSyIntegaralNumber,jdbcType=INTEGER},
      </if>
      <if test="tSyCreatedate != null">
        #{tSyCreatedate,jdbcType=DATE},
      </if>
      <if test="tSyBz1 != null">
        #{tSyBz1,jdbcType=VARCHAR},
      </if>
      <if test="tSyBz2 != null">
        #{tSyBz2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sy.common.busibean.SyIntegralExample" resultType="java.lang.Long">
    select count(*) from "t_sy_integral"
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update "t_sy_integral"
    <set>
      <if test="record.tSyIntegralId != null">
        T_SY_INTEGRAL_ID = #{record.tSyIntegralId,jdbcType=INTEGER},
      </if>
      <if test="record.tSyUserId != null">
        T_SY_USER_ID = #{record.tSyUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.tSyIntegaralType != null">
        T_SY_INTEGARAL_TYPE = #{record.tSyIntegaralType,jdbcType=VARCHAR},
      </if>
      <if test="record.tSyIntegaralNumber != null">
        T_SY_INTEGARAL_NUMBER = #{record.tSyIntegaralNumber,jdbcType=INTEGER},
      </if>
      <if test="record.tSyCreatedate != null">
        T_SY_CREATEDATE = #{record.tSyCreatedate,jdbcType=DATE},
      </if>
      <if test="record.tSyBz1 != null">
        T_SY_BZ1 = #{record.tSyBz1,jdbcType=VARCHAR},
      </if>
      <if test="record.tSyBz2 != null">
        T_SY_BZ2 = #{record.tSyBz2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update "t_sy_integral"
    set T_SY_INTEGRAL_ID = #{record.tSyIntegralId,jdbcType=INTEGER},
      T_SY_USER_ID = #{record.tSyUserId,jdbcType=VARCHAR},
      T_SY_INTEGARAL_TYPE = #{record.tSyIntegaralType,jdbcType=VARCHAR},
      T_SY_INTEGARAL_NUMBER = #{record.tSyIntegaralNumber,jdbcType=INTEGER},
      T_SY_CREATEDATE = #{record.tSyCreatedate,jdbcType=DATE},
      T_SY_BZ1 = #{record.tSyBz1,jdbcType=VARCHAR},
      T_SY_BZ2 = #{record.tSyBz2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sy.common.busibean.SyIntegral">
    update "t_sy_integral"
    <set>
      <if test="tSyUserId != null">
        T_SY_USER_ID = #{tSyUserId,jdbcType=VARCHAR},
      </if>
      <if test="tSyIntegaralType != null">
        T_SY_INTEGARAL_TYPE = #{tSyIntegaralType,jdbcType=VARCHAR},
      </if>
      <if test="tSyIntegaralNumber != null">
        T_SY_INTEGARAL_NUMBER = #{tSyIntegaralNumber,jdbcType=INTEGER},
      </if>
      <if test="tSyCreatedate != null">
        T_SY_CREATEDATE = #{tSyCreatedate,jdbcType=DATE},
      </if>
      <if test="tSyBz1 != null">
        T_SY_BZ1 = #{tSyBz1,jdbcType=VARCHAR},
      </if>
      <if test="tSyBz2 != null">
        T_SY_BZ2 = #{tSyBz2,jdbcType=VARCHAR},
      </if>
    </set>
    where T_SY_INTEGRAL_ID = #{tSyIntegralId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sy.common.busibean.SyIntegral">
    update "t_sy_integral"
    set T_SY_USER_ID = #{tSyUserId,jdbcType=VARCHAR},
      T_SY_INTEGARAL_TYPE = #{tSyIntegaralType,jdbcType=VARCHAR},
      T_SY_INTEGARAL_NUMBER = #{tSyIntegaralNumber,jdbcType=INTEGER},
      T_SY_CREATEDATE = #{tSyCreatedate,jdbcType=DATE},
      T_SY_BZ1 = #{tSyBz1,jdbcType=VARCHAR},
      T_SY_BZ2 = #{tSyBz2,jdbcType=VARCHAR}
    where T_SY_INTEGRAL_ID = #{tSyIntegralId,jdbcType=INTEGER}
  </update>
</mapper>