<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户信息</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../tempalte/js/jquery/jQuery-2.2.0.min.js"></script>
    <script src="../tempalte/js/charts/Chart.js"></script>
</head>
<body>
<div style="float: left; width: 100%; margin-right: 0.8%;">
  <div style="height: 845px; border: 1px solid #fff; background-color: #fff;">
    <table width="100%" height="100%" border="1" class="glyphicon-italic">
      <tr>
        <td width="1535" height="44" colspan="5">
          <label> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="textfield" type="text" class="glyphicon-jpy" value="请输入要查询的关键字">
            </label>
          <label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="Submit" value="查询">
          </label>
		  <label style="float:right;">
          <input name="" type="button" value="新增"> <input name="" type="button" value="修改"> <input name="" type="button" value="删除">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </label>
        </td>
      </tr>
      <tr>
        <td height="767" colspan="5">&nbsp;</td>
      </tr>
      	
      <tr>
        <td colspan="5">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>