<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>映射表管理</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/pubcss/tab.css">
<link rel="stylesheet" href="../css/pubcss/chg.css">
<script src="../tempalte/js/jquery/jQuery-2.2.0.min.js"></script>
<script src="../tempalte/js/charts/Chart.js"></script>
<script src="../js/pubjs/tab.js"></script>
<script src="../js/pubjs/chg.js"></script>
<!-- 弹出窗口 start -->
<script  src="../js/jquery/jQuery-2.2.0.min.js"></script>
<script  src="../js/bootstrap/js/bootstrap.min.js"></script>
<!-- 弹出窗口 end -->
</head>
<body>
<div style="float: left; width: 100%; margin-right: 0.8%;">
  <div style="height: 720px; border: 1px solid #fff; background-color: #fff;">
    <div id="tab" style="margin-left:10px;">
      <!--<div class="tabList">
        <ul>
          <li class="cur">映射表管理</li>
        </ul>
      </div> -->
      <div class="tabCon">
        <div class="cur">
          <form action="#">
            <table style="margin-bottom:10px;table-layout:fixed;" class="glyphicon-italic">
              <tr>
                <td valign="middle">&nbsp;&nbsp; <b>标识内容：</b> </td>
                <td valign="middle"><input type="text" style=" width:220px;" name="bsnr" id="date2" class="form-control"  />
                </td>
                <td valign="middle">&nbsp;&nbsp; <b>转换内容：</b> </td>
                <td valign="middle"><input type="text" style=" width:220px;" name="zhnr" id="date2" class="form-control"  />
                </td>
                <td valign="middle">&nbsp;&nbsp;<b>字典类型：</b> </td>
                <td valign="middle"><select name="dateType" class="form-control"  style=" width:100px;">
                    <option id="all" selected="selected">全部</option>
                    <option id="sex">性别</option>
                    <option id="mz">民族</option>
                  </select>
                </td>
                <td valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="button" name="sel" value="  查   询  " class="btn btn-success btn-sm btn-sm">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="button" name="add" value="  新 增  " class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_qx_Info"/>
                </td>
              </tr>
            </table>
          </form>
          <table id="hacker" width="100%" border="1" class="table table-striped">
            <tr style=" background: #FFCC66; height:28px; width:100%; text-align:center;">
              <td style="width:5%;"> 序号 </td>
              <td style="width:25%;"> 标识内容 </td>
              <td style="width:25%;"> 转换内容 </td>
              <td style="width:10%;"> 字典类型 </td>
              <td style="width:15%;"> 操作 </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 1 </td>
              <td> 男 </td>
              <td> 0 </td>
              <td> 性别 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm"  data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  审 核  " class="btn btn-success btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 2 </td>
              <td> 女 </td>
              <td> 1 </td>
              <td> 性别 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  审 核  " class="btn btn-success btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 3 </td>
              <td> 汉族 </td>
              <td> 1 </td>
              <td> 民族 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  审 核  " class="btn btn-success btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 4 </td>
              <td> 满族 </td>
              <td> 2 </td>
              <td> 民族 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  审 核  " class="btn btn-success btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 5 </td>
              <td> 维族 </td>
              <td> 3 </td>
              <td> 民族 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  审 核  " class="btn btn-success btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 6 </td>
              <td> 傣族 </td>
              <td> 4 </td>
              <td> 民族 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  审 核  " class="btn btn-success btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 7 </td>
              <td> 苗族 </td>
              <td> 5 </td>
              <td> 民族 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm" disabled="disabled" data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm" disabled="disabled"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  反审核  " class="btn btn-warning btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 8 </td>
              <td> 蒙古族 </td>
              <td> 6 </td>
              <td> 民族 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm" disabled="disabled" data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm" disabled="disabled"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  反审核  " class="btn btn-warning btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
            <tr style=" text-align:center; height:25px;">
              <td> 9 </td>
              <td> 白族 </td>
              <td> 7 </td>
              <td> 民族 </td>
              <td><input type="button" name="mod" value="  修 改  " class="btn btn-info btn-sm" disabled="disabled" data-toggle="modal" data-target="#mod_qx_Info"/>
                &nbsp;
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm" disabled="disabled"/>
                &nbsp;&nbsp;
                <input type="button" name="chk" value="  反审核  " class="btn btn-warning btn-sm"/>
                &nbsp;&nbsp; </td>
            </tr>
          </table>
          <table  width="100%" border="0">
            <tr>
              <td  align="right"><ul class="pagination pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 新增窗口 start -->
<div class="modal fade" id="add_qx_Info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog"  style="width:1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h4 class="modal-title" id="myModalLabel"> <b style="color: #FF9900;">新增映射</b> </h4>
      </div>
      <div class="modal-body">
        <form action="#">
          <table style="margin-bottom:10px;table-layout:fixed; border: solid 1px #000000;"  class="table table-striped">
            <tr>
              <td>&nbsp;&nbsp;<b>标识内容：</b> </td>
              <td valign="middle"><input type="text" style=" width:220px;" name="bsnr" class="form-control"  />
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;<b>转换内容：</b> </td>
              <td valign="middle"><input type="text" style=" width:220px;" name="zhnr" class="form-control" />
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;<b>字典类型：</b> </td>
              <td valign="middle"><input type="text" style=" width:220px;" name="zdlx" class="form-control" />
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <input type="button" name="save_btn" value=" 保  存 " class="btn btn-success"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" name="reset_btn" value=" 重  置 " class="btn btn-primary"/>
      </div>
    </div>
  </div>
</div>
<!-- 新增窗口 end -->
<!-- 修改窗口 start -->
<div class="modal fade" id="mod_qx_Info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog"  style="width:1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h4 class="modal-title" id="myModalLabel"> <b style="color: #FF9900;">修改映射</b> </h4>
      </div>
      <div class="modal-body">
        <form action="#">
          <table style="margin-bottom:10px;table-layout:fixed; border: solid 1px #000000;"  class="table table-striped">
            <tr>
              <td>&nbsp;&nbsp;<b>标识内容：</b> </td>
              <td valign="middle"><input type="text" style=" width:220px;" name="bsnr" class="form-control"  value="男"  />
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;<b>转换内容：</b> </td>
              <td valign="middle"><input type="text" style=" width:220px;" name="zhnr" class="form-control" value="0"/>
              </td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;<b>字典类型：</b> </td>
              <td valign="middle"><input type="text" style=" width:220px;" name="zdlx" class="form-control" value="性别" />
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <input type="button" name="save_btn" value=" 保  存 " class="btn btn-success"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" name="reset_btn" value=" 重  置 " class="btn btn-primary"/>
      </div>
    </div>
  </div>
</div>
<!-- 修改窗口 end -->
</body>
</html>
