<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>地图管理</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<link rel="stylesheet" href="../../js/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="../../css/font-awesome.min.css"/>
<link rel="stylesheet" href="../../css/pubcss/tab.css"/>
<link rel="stylesheet" href="../../css/pubcss/chg.css"/>
<script src="../../tempalte/js/jquery/jQuery-2.2.0.min.js"></script>
<script src="../../tempalte/js/charts/Chart.js"></script>
<script src="../../js/pubjs/tab.js"></script>
<script src="../../js/pubjs/chg.js"></script>
</head>
<body>
<div style="float: left; width: 100%; margin-right: 0.8%;">
  <div style="height: 720px; border: 1px solid #fff; background-color: #fff;">
    <div id="tab" style="margin-left:10px;">
      <div class="tabCon">
        <div class="cur">
          <table  width="90%" border="1" class="table table-bordered" style="margin-left:30px; margin-top:10px; margin-right:30px; margin-bottom:10px; text-align:left;">
            <tr style=" background: #FFCC66; height:28px; width:100%; text-align:center;">
                <td colspan="4" align="left">&nbsp;&nbsp;地图</td>
            </tr>
			<tr>
                <td colspan="4" style="height:400px;">
				
				</td>
            </tr>
			<tr>
                <td>
					<b style="text-align:center;">用户</b>
				</td>
				<td>
					<input type="text" style=" width:420px;" name="yh" class="form-control"  />
				</td>
				<td>
					<b style="text-align:center;">类型</b>
				</td>
				<td>
					<input type="text" style=" width:420px;" name="lx" class="form-control"  />
				</td>
            </tr>
			<tr>
				<td>
					<b style="text-align:center;">经度</b>
				</td>
				<td>
					<input type="text" style=" width:420px;" name="jd" class="form-control"  />
				</td>
				<td>
					<b style="text-align:center;">纬度</b>
				</td>
				<td>
					<input type="text" style=" width:420px;" name="wd" class="form-control"  />
				</td>
			</tr>
			<tr>
				<td>
					<b style="text-align:center;">地址</b>
				</td>
				<td colspan="3">
					<input type="text" style=" width:1100px;" name="dz" class="form-control"  />
				</td>
			</tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
