<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>网站管理</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<link rel="stylesheet" href="../../js/bootstrap/css/bootstrap.min.css"/>
<!-- 弹出窗口 -->
<link rel="stylesheet" href="../../css/font-awesome.min.css"/>
<link rel="stylesheet" href="../../css/pubcss/tab.css"/>
<link rel="stylesheet" href="../../css/pubcss/chg.css"/>
<!-- 日期控件调用 start -->
<link rel="stylesheet" href="../../date_js_css/font-awesome.min.css"/>
<link rel="stylesheet" href="../../date_js_css/daterangepicker-bs3.css"/>
<!-- 日期控件调用 end -->
<!-- 弹出窗口 start -->
<script  src="../../js/jquery/jQuery-2.2.0.min.js"></script>
<script  src="../../js/bootstrap/js/bootstrap.min.js"></script>
<!-- 弹出窗口 end -->
<script src="../../js/pubjs/tab.js"></script>
<script src="../../js/pubjs/chg.js"></script>
<!-- 日期控件调用 start -->
<script type="text/javascript" src="../../date_js_css/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../date_js_css/moment.js"></script>
<script type="text/javascript" src="../../date_js_css/daterangepicker.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $('#date2').daterangepicker(null, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
             });
        });
</script>
<!-- 日期控件调用 end -->
</head>
<body>
<div style="float: left; width: 100%; margin-right: 0.8%;">
  <div style="height: 720px; border: 1px solid #fff; background-color: #fff;">
    <div id="tab" style="margin-left:10px;">
      <!--<div class="tabList">
        <ul>
          <li class="cur">数据库日志</li>
          <li>文本日志</li>
        </ul>
      </div> -->
      <div class="tabCon">
        <div class="cur">
          <form action="#">
            <table style="margin-bottom:10px;table-layout:fixed;" class="glyphicon-italic">
              <tr>
                <td><b>创建日期：</b> </td>
                <td valign="middle"><input type="text" style=" width:220px;" name="date2" id="date2" class="form-control" value="2016-12-26 - 2016-12-26" />
                </td>
                <td>&nbsp;&nbsp;<b>创建类型：</b> </td>
                <td valign="middle"><select name="cjlx" style=" width:230px;" class="form-control">
                    <option id="0" selected="selected">关于我们</option>
                    <option id="1">联系我们</option>
                    <option id="2">法律条文</option>
                    <option id="3">用户指南</option>
                    <option id="4">备案信息</option>
                    <option id="5">友情链接</option>
                    <option id="6">公司电话</option>
                    <option id="7">公司地址</option>
                    <option id="8">公司邮箱</option>
                    <option id="9">公司QQ</option>
                    <option id="10">公司微信</option>
                    <option id="11">公众号</option>
                  </select>
                </td>
                <td valign="middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="button" name="button"  class="btn btn-success btn-sm" value="  查   询  "/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="button" name="add"  class="btn btn-primary btn-sm" value="  新   增  " data-toggle="modal" data-target="#add_qx_Info"/>
                </td>
              </tr>
            </table>
          </form>
          <table id="hacker" width="100%" border="1" class="table table-striped">
            <tr style=" background: #FFCC66; height:28px; width:100%; text-align:center;">
              <td> 序号 </td>
              <td> 创建类型 </td>
              <td> 创建人 </td>
              <td> 创建日期 </td>
              <td> 操作 </td>
            </tr>
            <tr style=" text-align:center;">
              <td> 1 </td>
              <td> 联系我们 </td>
              <td> admin </td>
              <td> 2016-12-26 </td>
              <td><input type="button" name="mdy" value="  修 改  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#mod_qx_Info"/>
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                <input type="button" name="see" value="  查 看  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#sel_qx_Info"/></td>
            </tr>
            <tr style=" text-align:center;">
              <td> 2 </td>
              <td> 用户指南 </td>
              <td> admin </td>
              <td> 2016-12-26 </td>
              <td><input type="button" name="mdy" value="  修 改  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#mod_qx_Info"/>
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                <input type="button" name="see" value="  查 看  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#sel_qx_Info"/></td>
            </tr>
            <tr style=" text-align:center;">
              <td> 3 </td>
              <td> 公司电话 </td>
              <td> admin </td>
              <td> 2016-12-26 </td>
              <td><input type="button" name="mdy" value="  修 改  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#mod_qx_Info"/>
                <input type="button" name="del" value="  删 除  " class="btn btn-danger btn-sm"/>
                <input type="button" name="see" value="  查 看  " class="btn btn-info btn-sm" data-toggle="modal" data-target="#sel_qx_Info"/></td>
            </tr>
          </table>
          <table  width="100%" border="0">
            <tr>
              <td  align="right"><ul class="pagination pagination">
                  <li><a href="#">&laquo;</a></li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&raquo;</a></li>
                </ul></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 查看窗口 start -->
<div class="modal fade" id="sel_qx_Info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog"  style="width:1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h4 class="modal-title" id="myModalLabel"> <b style="color: #FF9900;">浏览网站信息</b> </h4>
      </div>
      <div class="modal-body">
        <form action="#">
          <table style="margin-bottom:10px; border: solid 1px #000000;"  class="table table-striped">
            <tr>
              <td><b style="text-align:center;">创建类型</b> </td>
              <td><select name="cjlx" style=" width:230px;" class="form-control" disabled="disabled">
                  <option id="0" selected="selected">关于我们</option>
                  <option id="1">联系我们</option>
                  <option id="2">法律条文</option>
                  <option id="3">用户指南</option>
                  <option id="4">备案信息</option>
                  <option id="5">友情链接</option>
                  <option id="6">公司电话</option>
                  <option id="7">公司地址</option>
                  <option id="8">公司邮箱</option>
                  <option id="9">公司QQ</option>
                  <option id="10">公司微信</option>
                  <option id="11">公众号</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><b style="text-align:center;">内容</b> </td>
              <td colspan="3"><textarea cols="80" rows="6" name="js" disabled="disabled">欢迎联系我们！</textarea>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭 </button>
      </div>
    </div>
  </div>
</div>
<!-- 查看窗口 end -->
<!-- 新增窗口 start -->
<div class="modal fade" id="add_qx_Info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog"  style="width:1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h4 class="modal-title" id="myModalLabel"> <b style="color: #FF9900;">新增网站信息</b> </h4>
      </div>
      <div class="modal-body">
        <form action="#">
          <table style="margin-bottom:10px; border: solid 1px #000000;"  class="table table-striped">
            <tr>
              <td><b style="text-align:center;">创建人</b> </td>
              <td>admin</td>
              <td><b style="text-align:center;">创建类型</b> </td>
              <td><select name="cjlx" style=" width:230px;" class="form-control">
                  <option id="0" selected="selected">关于我们</option>
                  <option id="1">联系我们</option>
                  <option id="2">法律条文</option>
                  <option id="3">用户指南</option>
                  <option id="4">备案信息</option>
                  <option id="5">友情链接</option>
                  <option id="6">公司电话</option>
                  <option id="7">公司地址</option>
                  <option id="8">公司邮箱</option>
                  <option id="9">公司QQ</option>
                  <option id="10">公司微信</option>
                  <option id="11">公众号</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><b style="text-align:center;">内容</b> </td>
              <td colspan="3"><textarea cols="80" rows="6" name="js"></textarea>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <input type="button" name="save_btn" value=" 保  存 " class="btn btn-success"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" name="reset_btn" value=" 重  置 " class="btn btn-primary"/>
      </div>
    </div>
  </div>
</div>
<!-- 新增窗口 end -->
<!-- 修改窗口 start -->
<div class="modal fade" id="mod_qx_Info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="true">
  <div class="modal-dialog"  style="width:1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h4 class="modal-title" id="myModalLabel"> <b style="color: #FF9900;">修改网站信息</b> </h4>
      </div>
      <div class="modal-body">
        <form action="#">
          <table style="margin-bottom:10px; border: solid 1px #000000;"  class="table table-striped">
            <tr>
              <td><b style="text-align:center;">创建人</b> </td>
              <td>admin</td>
              <td><b style="text-align:center;">创建类型</b> </td>
              <td><select name="cjlx" style=" width:230px;" class="form-control">
                  <option id="0" selected="selected">关于我们</option>
                  <option id="1">联系我们</option>
                  <option id="2">法律条文</option>
                  <option id="3">用户指南</option>
                  <option id="4">备案信息</option>
                  <option id="5">友情链接</option>
                  <option id="6">公司电话</option>
                  <option id="7">公司地址</option>
                  <option id="8">公司邮箱</option>
                  <option id="9">公司QQ</option>
                  <option id="10">公司微信</option>
                  <option id="11">公众号</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><b style="text-align:center;">内容</b> </td>
              <td colspan="3"><textarea cols="80" rows="6" name="js">欢迎联系我们！</textarea>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <input type="button" name="save_btn" value=" 保  存 " class="btn btn-success"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" name="reset_btn" value=" 重  置 " class="btn btn-primary"/>
      </div>
    </div>
  </div>
</div>
<!-- 修改窗口 end -->
</body>
</html>
