<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>访问量</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/font-awesome.min.css">
<link rel="stylesheet" href="../css/pubcss/tab.css">
<link rel="stylesheet" href="../js/index.css">
<!-- 日期控件调用 start -->
<link rel="stylesheet" href="../date_js_css/daterangepicker-bs3.css">
<!-- 日期控件调用 end -->
<!-- 弹出窗口 start -->
<script  src="../js/jquery/jQuery-2.2.0.min.js"></script>
<script  src="../js/bootstrap/js/bootstrap.min.js"></script>
<!-- 弹出窗口 end -->
<script src="../js/charts/Chart.js"></script>
<!-- 日期控件调用 start -->
<script type="text/javascript" src="../date_js_css/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../date_js_css/moment.js"></script>
<script type="text/javascript" src="../date_js_css/daterangepicker.js"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $('#date2').daterangepicker(null, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
             });
        });
</script>
<!-- 日期控件调用 end -->
<style>
	.panel-default {
		border: none;
		border-radius: 0px;
		margin-bottom: 0px;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
		
	.panel-default > .panel-heading {
		color: #777;
		background-color: #fff;
		border-color: #e6e6e6;
		padding: 10px 10px;
	}
		
	.panel-default > .panel-body {
		padding: 10px;
		padding-bottom: 0px;
	}
		
	.panel-default > .panel-body ul {
		overflow: hidden;
		padding: 0;
		margin: 0px;
		margin-top: -5px;
	}
		
	.panel-default > .panel-body ul li {
		line-height: 27px;
		list-style-type: none;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
		
	.panel-default > .panel-body ul li .time {
		color: #a1a1a1;
		float: right;
		padding-right: 5px;
	}
</style>
<script>
	$(function () {
		Canvas1();
		Canvas2();
		Canvas3();
		Canvas4();
	});
	function Canvas1() {
		var randomScalingFactor = function () { return Math.round(Math.random() * 100) };
		var lineChartData = {
			labels: ["1天", "2天", "3天", "4天", "5天", "6天", "7天", "8天", "9天", "10天", "11天", "12天","13天", "14天", "15天", "16天", "17天", "18天", "19天", "20天", "21天", "22天", "23天", "24天", "25天", "26天", "27天", "28天", "29天", "30天", "31天"],
			datasets: [
				{
					fillColor: "#CC6600",
					data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(),randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
				}
			]
		}
		var ctx = document.getElementById("Canvas1").getContext("2d");
		window.myLine = new Chart(ctx).Bar(lineChartData, {
			bezierCurve: false,
		 
		});
	}
	function Canvas2() {
		var randomScalingFactor = function () { return Math.round(Math.random() * 100) };
		var lineChartData = {
			labels: ["1天", "2天", "3天", "4天", "5天", "6天", "7天", "8天", "9天", "10天", "11天", "12天","13天", "14天", "15天", "16天", "17天", "18天", "19天", "20天", "21天", "22天", "23天", "24天", "25天", "26天", "27天", "28天", "29天", "30天", "31天"],
			datasets: [
				{
					fillColor: "#FF3300",
					data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(),randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
				}
			]
		}
		var ctx = document.getElementById("Canvas2").getContext("2d");
		window.myLine = new Chart(ctx).Bar(lineChartData, {
			bezierCurve: false,
		 
		});
	}
	function Canvas3() {
            var randomScalingFactor = function () { return Math.round(Math.random() * 100) };
            var lineChartData = {
                labels: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "8月", "10月", "11月", "12月"],
                datasets: [
                    {
                        fillColor: "rgba(153,202,255,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                    }
                ]
            }
            var ctx = document.getElementById("Canvas3").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                bezierCurve: false,
            });
        }
	function Canvas4() {
            var randomScalingFactor = function () { return Math.round(Math.random() * 100) };
            var lineChartData = {
                labels: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "8月", "10月", "11月", "12月"],
                datasets: [
                    {
                        fillColor: "rgba(153,202,255,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
                    }
                ]
            }
            var ctx = document.getElementById("Canvas4").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                bezierCurve: false,
            });
   }

</script>
</head>
<body>
<div style="float: left; width: 100%; margin-right: 0.8%;">
<div style="height: 720px; border: 1px solid #fff; background-color: #fff;">
<table id="hacker" width="100%" style=" margin-top:10px; margin-bottom:10px;" class="table table-bordered">
  <tr>
    <td style="text-align: center;" colspan="2"><table>
        <tr>
          <td>&nbsp;&nbsp;&nbsp;日期： </td>
          <td valign="middle"><input type="text" style=" width:220px;" name="date2" id="date2" class="form-control" value="2016-12-26 - 2016-12-26" />
          </td>
          <td>&nbsp;&nbsp;&nbsp;
            <input type="button" name="add"  class="btn btn-success btn-sm" value="  统  计  " >
          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><div style="float: right; width: 100%;">
        <div style="height: 221px; border: 1px solid #e6e6e6; background-color: #fff;">
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-area-chart fa-lg" style="padding-right:5px;"></i>PC_访问量&nbsp;&nbsp;&nbsp;（月/万）<i style=" float:right;">2016年</i></div>
            <div class="panel-body">
              <canvas id="Canvas3" style="height: 165px; width: 100%;"></canvas>
            </div>
          </div>
        </div>
      </div></td>
    <td><div style="float: right; width: 100%;">
        <div style="height: 221px; border: 1px solid #e6e6e6; background-color: #fff;">
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-area-chart fa-lg" style="padding-right:5px;"></i>APP_访问量&nbsp;&nbsp;&nbsp;（月/万）<i style=" float:right;">2016年</i></div>
            <div class="panel-body">
              <canvas id="Canvas4" style="height: 165px; width: 100%;"></canvas>
            </div>
          </div>
        </div>
      </div></td>
  </tr>
  <tr>
    <td style="text-align:center;">&nbsp;
      PC端每月访问量统计/万&nbsp;&nbsp;
      <input type="button" name="see"  class="btn btn-link btn-sm" value="  查 看  " >
    </td>
    <td style="text-align:center;">&nbsp;
      APP端每月访问量统计/万&nbsp;&nbsp;
      <input type="button" name="see"  class="btn btn-link btn-sm" value="  查 看  " >
    </td>
  </tr>
  <tr>
    <td style="width:50%;"><div class="rows" style="margin-bottom: 0.8%; overflow: hidden;">
        <div style="float: left; width: 100%;">
          <div style="height: 290px; border: 1px solid #e6e6e6; background-color: #fff;">
            <div class="panel panel-default">
              <div class="panel-heading"><i class="fa fa-bar-chart fa-lg" style="padding-right: 5px;"></i>PC_访问量&nbsp;&nbsp;&nbsp;（天/万）<i style=" float:right;">1月</i></div>
              <div class="panel-body">
                <canvas id="Canvas1" style="height: 230px; width: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </td>
  <td style="width:50%;"><div class="rows" style="margin-bottom: 0.8%; overflow: hidden;">
        <div style="float: left; width: 100%;">
          <div style="height: 290px; border: 1px solid #e6e6e6; background-color: #fff;">
            <div class="panel panel-default">
              <div class="panel-heading"><i class="fa fa-bar-chart fa-lg" style="padding-right: 5px;"></i>APP_访问量&nbsp;&nbsp;&nbsp;（天/万）<i style=" float:right;">1月</i></div>
              <div class="panel-body">
                <canvas id="Canvas2" style="height: 230px; width: 100%;"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </td>
  </tr>
  <tr>
    <td style="text-align:center;">&nbsp;
      PC端每天访问量统计/万&nbsp;&nbsp;
      <input type="button" name="see"  class="btn btn-link btn-sm" value="  查 看  " >
       </td>
    <td style="text-align:center;">&nbsp;
      APP端每天访问量统计/万&nbsp;&nbsp;
      <input type="button" name="see"  class="btn btn-link btn-sm" value="  查 看  " >
    </td>
  </tr>
</table>
</div>
</div>
</body>
</html>
