<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户信息</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../tempalte/js/jquery/jQuery-2.2.0.min.js"></script>
    <script src="../tempalte/js/charts/Chart.js"></script>
    <script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
    </script>
</head>
<body>
<div style="float: left; width: 100%; margin-right: 0.8%;">
  <div style="height: 845px; border: 1px solid #fff; background-color: #fff;">
    <table width="100%" height="100%" border="1" class="glyphicon-italic">
      <tr>
        <td height="76.7" colspan="5">文本输入框：<input name="" type="text"></td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5">区域输入框：<textarea name="" cols="" rows="">&nbsp;</textarea></td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5"><input name="" type="checkbox" value=""> <input name="" type="radio" value=""></td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5"><form name="form1" method="post" action="">
          <p>
            <label>
              <input type="radio" name="RadioGroup1" value="单选">
              男</label>
            <br>
            <label>
              <input type="radio" name="RadioGroup1" value="单选">
              女</label>
            <br>
          </p>
        </form>
        </td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5">
		<select name="">
		   <option value="1">1</option>
		   <option value="2">2</option>
		   <option value="3">3</option>
		   <option value="4">4</option>
		   <option value="5">5</option>
		</select>
		</td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5"><form name="form2">
          <select name="menu1" onChange="MM_jumpMenu('parent',this,0)">
            <option>12345</option>
          </select>
        </form>
        </td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5"><input name="" type="image"> <input name="" type="file"></td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5"><input name="" type="button" value="查询"> </td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5">&nbsp;</td>
      </tr>
	   <tr>
        <td height="76.7" colspan="5">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>